@import "vk2015.2.css";

.page_header {
    background: url(https://i.imgur.com/i7fuicx.png) no-repeat;
}
.home_button:active {
    background: url(https://i.imgur.com/kZ5pEoW.png) no-repeat;
}

.header_navigation .link {
    color: #E8EFF7;
    text-shadow: 0px 1px 0px #416389;
}
.button {
    border-top: 1px solid #517295;
    border-bottom: 1px solid #4e6f93;
    border-left: 1px solid #4e6f93;
    border-right: 1px solid #4e6f93;
    background: url(https://i.imgur.com/YwMfElB.png) repeat-x;
    height: 25px;
    border-radius: 2px;
}
input[class=button] {
    padding-top: 5px;
    padding-bottom: 4px;
    text-shadow: 0 1px 0 #45688E;
}
.button:hover {
    border-top: 1px solid #517295;
    border-bottom: 1px solid #4e6f93;
    border-left: 1px solid #4e6f93;
    border-right: 1px solid #4e6f93;
    background: url(https://i.imgur.com/E5iIz90.png) repeat-x;
    height: 25px;
}
input[class=button]:hover {
    padding-top: 5px;
    padding-bottom: 4px;
    text-shadow: 0 1px 0 #45688E;
}
.button:active {
    border-top: 1px solid #517295;
    border-bottom: 1px solid #4e6f93;
    border-left: 1px solid #4e6f93;
    border-right: 1px solid #4e6f93;
    background: url(https://i.imgur.com/NcfwOqZ.png) repeat-x;
    height: 25px;
}
input[class=button]:active {
    padding-top: 5px;
    padding-bottom: 4px;
    text-shadow: 0 1px 0 #45688E;
}
input[type~="search"] {
    border: 1px solid #395a83;
    padding: 3px;
    font-size: 11px;
    font-family: tahoma, verdana, arial, sans-serif;
    border-radius: 3px;
    height: 23px;
    position: absolute;
    margin-left: -630px;
    margin-top: 13px;
}
input[type~="search"][name~="query"] {
    width: 169px /* qualified */ !important;
    background: url(https://i.imgur.com/2IFBlRq.png) repeat-x /* qualified */ !important;
    background-color: #fff /* qualified */ !important;
    padding-top: 5px;
    color: #7d93a8;
}
.page_yellowheader {
    padding: 4px 10px 5px;
    font-weight: bold;
    background: url(https://i.imgur.com/pTz3u77.png) repeat-x;
    background-color: #e9edf1;
    border-right: solid 1px #e9edf1;
    border-left: solid 1px #e9edf1;
    border-bottom: solid 1px #e9edf1;
    color: #2B587A;
}
.content_title_expanded, .content_title_unexpanded {
    color: #2B587A;
}
.messenger-app--messages---message .ava, .messenger-app--input > .ava {
    border-radius: 2px;
}
.sidebar {
    /* margin-left: 5px; */
    width: 136px;
}
