@import "../vkontakte.css";


.page_header {
    background: url(https://i.imgur.com/a3LEQq3.png) no-repeat;
    margin-top: 3px;
    margin-left: 12px;
    height: 33px;
}
.header_navigation .link {
    background: none;
    font-size: 12px;
}
.header_navigation .link a {
    font-weight: normal;
    color: #e5f3ff;
}
.header_navigation {
    margin-top: -19px;
    margin-right: 15px;
}
.page_body {
    margin-top: -2px;
}
input[type~="search"] {
    height: 23px;
    width: 128px /* qualified */ !important;
    position: absolute;
    margin-left: -764px;
    margin-top: 45px;
    /* background: url(https://i.imgur.com/8KtCFDd.gif) no-repeat 3px 4px;
    background-color: #fff;
    padding-left: 23px;
    width: 120px;
    background-position-y: 5px;
    background-position-x: 5px; */
}
input[type~="search"][name~="query"] {
    background: url(https://i.imgur.com/F2UFNzf.png) no-repeat 3px 4px /* qualified */ !important;
    background-position-y: 5px /* qualified */ !important;
    background-position-x: 5px /* qualified */ !important;
    padding-bottom: 4px /* qualified */ !important;
    padding-left: 21px /* qualified */ !important;
}
input[type="search"], input[type~="search"], select {
    border: 1px solid #d5d5d5;
}
.sidebar {
    margin-top: 30px;
    margin-left: 12px;
    width: 128px;
}
.navigation .link {
    display: block;
    padding: 2px 3px 3px 3px;
    text-decoration: none;
    border-top: 1px solid #fff;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    font-size: 11px;
    text-align: left;
    cursor: pointer;
    background: none;
    margin-bottom: 1px;
}
.page_yellowheader {
    padding: 5px 10px 5px;
    font-size: 12px;
    background: none;
    background-color: #7590ae;
    border-right: solid 1px #8a96a4;
    border-left: solid 1px #8a96a4;
    border-bottom: solid 1px #8a96a4;
    overflow: hidden;
    color: #fff;
}
.page_yellowheader span {
    color: #a7bcd1;
}
.page_yellowheader a {
    color: #fff;
}
.home_button {
    width: 250px;
    height: 33px;
}
.home_button:hover {
    width: 250px;
    height: 33px;
}
.home_button:active {
    width: 250px;
    height: 33px;
}
.completeness-gauge {
    border-top: 1px solid #c4c4c4;
}
.button {
    border-radius: 2px;
    border: #36638E;
    font-size: 11px;
    outline: none;
    white-space: nowrap;
    background: #36638E;
    background-position: 0px -16px;
    color: #fff;
    padding: 4px 8px 4px;
    text-shadow: 0 1px 0 #36638E;
    cursor: pointer;
    text-decoration: none;
}